<div class="container">
  <div class="d-flex flex-column justify-content-center"> 

    <table>
      <tr>    
        <th>Application</th>
        <th>Statut</th>
        <th></th>
      </tr>
      <!-- 
          TODO MAU - boucle sur l'ensemble des site parametre
          data - format : id, name, url, status
      -->
      <!--
      <tr *ngFor="let data of datas | async">          
        <td>{{data.name}}</td>
        <td>{{data.status}} €</td>
        <td>
          <span class="d-none">{{data.id}}</span>
          <button type="button" class="btn btn-sm btn-danger m-1" (click)="delete(data)">Delete</button>
        </td>    
      </tr> 
      -->

    </table>

  </div>
</div>
