<div class="container">

  <div class="d-flex flex-column justify-content-center"> 

    <table class="my-2">
      <tr>    
        <th>Application</th>
        <th>Statut</th>
        <th></th>
      </tr>      
      <tr *ngFor="let data of datas | async">          
          <td><span title="{{data.url}}">{{data.name}}</span></td>
          <td>{{data.status}}</td>
          <td>
            <span class="d-none">{{data.id}}</span>
            <button type="button" class="btn btn-sm btn-danger m-1" (click)="delete(data)">Delete</button>
          </td>    
        </tr>

    </table>

  </div>
</div>
